.center {
  margin: 0 auto;
  margin-top: 5%;
}

text {
  color: #b6b8ba;
  padding-left: 20px;
}

path:hover {
	fill-opacity: .7;
}

/* Tooltip */
div.tooltip {
 	position: absolute;
	text-align: center;
	width: 60px;
	height: 28px;
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

/* Font Style */
body {
	font: 11px sans-serif;
}

/* Legend Position Style */
.legend {
	position:absolute;
	right: 30%;
	top:350px;
}

#tooltip-container {
	position: absolute;
	background-color: white;
	border-radius: 50px;
  	border: 1px solid black;
	padding: 20px;
	display: none;
	z-index: 9999;
}

.tooltip_bold {
  font-weight: bold;
}

.tooltip_left_5px {
	margin-left: 5px;
}

.tooltip_left_2px {
	margin-left: 2px;
}

.tooltip_float {
	margin-left: 5px;
	float: right;
}

.centralize {
	width:100%;
	text-align:center;
	float: right;
}

.lightColor {
	color: #b6b8ba;
}

.axis path,
.axis line {
  fill: none;
	stroke: black;
	shape-rendering: crispEdges;
	opacity: 0.2;
}
.axis text {
	font-family: sans-serif;
	font-size: 14px;
}

.leftPadding {
	padding: 10px;
}

.brush .extent {
	fill-opacity: .1;
	stroke: #fff;
	shape-rendering: crispEdges;
}

.selected {
	stroke: red;
	fill:red;
}

.columnSeperate {
  float: left;
  padding: 10px;
}

.rateChart {
	width: 55%;
}

#filterInfo {
	width: 12%;
}

#showSchoolDetail {
	width: 33;
}

#filterNow {
	display: block;
	margin: 0 auto;
}

.showDetail {
	display: block;
	margin: 0 auto;
}